[Desktop Entry]
Version=2018.1
Type=Application
Name=cambio
Comment=Software para fins académicos
Exec=./usr/local/bin/cambio
Terminal=false
MimeType=text/plain;
Icon=/usr/local/cambio/icons/cambio.png
Categories=Education;
StartupNotify=true
Actions=Window;Document;




Name[es_AR]=cambio
