[Desktop Entry]
Version=2018.1
Type=Application
Name=Cambio
Comment=Software com fins acadêmicos voltado para problemas de química.
Exec=./usr/local/bin/cambio
Terminal=false
MimeType=text/plain;
Icon=cambio.png
Categories=Education;
StartupNotify=true
Actions=Window;Document;
